
  body {

        font-family: 'Muli', sans-serif;

      }
      header {
        text-align: center;
        background: url("https://images.unsplash.com/photo-1467806757054-808649965a76?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
        background-size: cover;
        background-position: center;
        length: 50px;
      }
      h1 {
        font-family: 'Muli', sans-serif;
        text-align: center;
        font-size: 50px;
        color: black;
        margin: 0px 0px 200px 0px;
      }

      h2 {
        font-family: 'Muli', sans-serif;
        text-align: center;
        font-size: 30px;
        color: black;
      }

      h3 {
        margin-left: auto;
        margin-right: auto;
        width: 60%;
      }

      p {
        text-align: left;
        font-size: 15px;
        color: grey;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        }

      ul {
        list-style-type: none;
        padding: 10px;
        margin: 0px;
        background: grey;
        <!-- kleur moet nog worden verandert -->
        text-align: center;
        overflow: hidden;
      }

      li{
        display: inline;
        float: center;
      }

      li a {
        padding: 50px 16px;
        text-decoration: none;
        color: white;
      }
      li a.active{
        background-color: darkgrey;
        color: white;
        <!-- kleur moet nog worden verandert -->
      }
      li a:hover:not(.active) {
        color: black;
        background-color: white;
        <!-- kleur moet nog worden verandert -->
      }

      li a:hover.active{
        background-color: lightgrey;
        <!-- kleur moet nog worden verandert -->
      }

      li.dropdown {
        display: inline-block;
      }

      table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }

    a {
      text-decoration: none;
      text-align: left;
      font-size: 15px;
      color: grey;
    }

    th, td {
    padding: 5px;
    width: 10%;
    }

    table {
    border-spacing: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: grey;
  <!-- kleur moet nog worden verandert -->
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-size: 13px;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border:3px solid grey;
  width:30%;
  position: center;
}
.zoom {

transition:  .2s;
margin: auto;

}

.zoom:hover {
-ms-transform: scale(1.2);
-webkit-transform: scale(1.2);
transform: scale(1.2);
}
